{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
<main id="main" class="main">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date_reclamation</th>
                <th>Description</th>
                <th>Etat_reclamation</th>
                <th>Avis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.etatReclamation }}</td>
                <td>{{ reclamation.avis }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
