{% extends 'front.html.twig' %}

{% block body %}
   
{% if app.session.flashbag.has('error') %}
    <div class="alert alert-danger">
        {% for message in app.session.flashbag.get('error') %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Liste des événements</span></h2>  
    <div class="row px-xl-5">
        {% for evenement in pagination %}
        {% if evenement.NbrView >= 30 %}
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1 convoite">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ asset('uploads/event_images/' ~ evenement.affiche) }}" alt="{{ evenement.nomEvent }}">
                        <div class="event-badge">Evenement convoité</div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="{{ path('app_evenement_front_show', {'idEvent': evenement.idEvent}) }}">{{ evenement.nomEvent }}</a>
                        <h6>{{ evenement.descriptionEvent }}</h6>
                        <h6>Prix : {{ evenement.prix }}</h6>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ asset('uploads/event_images/' ~ evenement.affiche) }}" alt="{{ evenement.nomEvent }}">
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="{{ path('app_evenement_front_show', {'idEvent': evenement.idEvent}) }}">{{ evenement.nomEvent }}</a>
                        <h6>{{ evenement.descriptionEvent }}</h6>
                        <h6>Prix : {{ evenement.prix }}</h6>
                    </div>
                </div>
            </div>
        {% endif %}
        {% else %}
            <div class="col-md-12">
                <p>Aucun événement trouvé.</p>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
    {{ knp_pagination_render(pagination, 'pagination.html.twig') }}
</div>

</div>

{% endblock %}

