{% extends 'base.html.twig' %}

{% block body %}
    
    <main id="main" class="main">
        <section class="section">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Commandes chaque mois</h5>

                        <!-- Bar Chart -->
                        <canvas id="barChart" style="max-height: 400px;"></canvas>
                        <script>
    document.addEventListener("DOMContentLoaded", () => {
        new Chart(document.querySelector('#barChart'), {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [{
                    label: 'Bar Chart',
                    data: [
                        {{ stats[1] }},
                        {{ stats[2] }},
                        {{ stats[3] }},
                        {{ stats[4] }},
                        {{ stats[5] }},
                        {{ stats[6] }},
                        {{ stats[7] }},
                        {{ stats[8] }},
                        {{ stats[9] }},
                        {{ stats[10] }},
                        {{ stats[11] }},
                        {{ stats[12] }}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)',
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>

                        <!-- End Bar CHart -->

                    </div>
                </div>
            </div

        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
