{% extends 'front.html.twig' %}

{% block title %}Commentaires de l'annonce n°{{ annonce.idAnnonce }}{% endblock %}

{% block body %}
    <h1>Commentaires de l'annonce n°{{ annonce.idAnnonce }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCommentaire</th>
                <th>Comment</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for commentaire in commentaires %}
    <tr>
        <td>{{ commentaire.idCommentaire }}</td>
        <td>{{ commentaire.comment }}</td>
        <td>{{ commentaire.idUser1.email ?? 'N/A' }}</td>
        <td>
            {% if commentaire.idUser1.idUser == app.user.idUser %}
                <a href="{{ path('app_commentaire_edit', {'idCommentaire': commentaire.idCommentaire}) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('app_commentaire_deletecomment', {'idCommentaire': commentaire.idCommentaire}) }}" class="btn btn-primary">delete</a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="4">Aucun commentaire trouvé.</td>
    </tr>
{% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_annonce_indexfront') }}">Retour à la liste des annonces</a>
{% endblock %}
