{% extends 'base.html.twig' %}
{% block body %}


<main id="main" class="main">
<div class="card">
            <div class="card-body">
              <h5 class="card-title">Table Categorie</h5>
                   <a class="btn btn-outline-primary" href="http://127.0.0.1:8000/produit/produitback">show produits</a>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
               <thead>
                     <a class="btn btn-outline-secondary" href="{{ path('app_categorie_new') }}">new</a>
                      <a class="btn btn-outline-secondary" href="{{ path('app_categorie_stats') }}">prrr</a>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.idcategorie }}</td>
                    <td>{{ categorie.nomcategorie }}</td>
                    <td>
                        <a href="{{ path('app_categorie_show', {'id_categorie': categorie.idcategorie}) }}">Voir</a>
                        <a href="{{ path('app_categorie_edit', {'id_categorie': categorie.idcategorie}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune catégorie trouvée</td>
                </tr>
            {% endfor %}
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>
</table>
</main>
{% endblock %}